body{
	color: #ea991e;
	font-size: 18px;
	font-family: Arial;
	margin: 0;
}
.addEx{
	background-color: #ffe8c6;
	border: 1px solid #ffa51d;
	text-align: center;
	padding: 8px;
}
.box{
	border: 1px solid #ffa51d;
	text-align: center;
	padding: 10px;
}
.trash{
	width: 25px;
	float: right;
	vertical-align: center;
}
.back{
	position: fixed; 
    left: 0; bottom: 0;
	width:100%;
	background-color: #ffe8c6;
	border: 1px solid #ffa51d;
	text-align: center;
	padding: 16px;
}